@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=Roboto+Slab:wght@100;400&display=swap');

:root{
  margin:0;
  border:0;
  padding:0;
  --pastColor: grey;
  --presentColor: red;
  --futureColor: green;
}

title{
  display:none;
}

*{
  flex-wrap:wrap;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto Slab', serif;
}

body{
margin:0;
}

header{
  text-align:center;
  border-bottom: 5px solid;
  margin-bottom:10px;
  width:100%;

}



header h1{}

main{}

.fullSchedule{
  margin:50px;
  align-content: center;
}

.card{
  border-style:solid;
  border-color:black;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 75px;
}

label{
margin:0;
padding:10px;
border-right:solid;
border-right-color:black;
}

.lockButton{
}

